{% extends "demo/layout.html.twig" %}

{% block content %}
    <div class="row">
        <h1>Sandbox Demo</h1>

        <p>This is a sandbox built using:</p>

        <ul>
            <li>Silex, a PHP microframework - <a href="http://silex.sensiolabs.org/">http://silex.sensiolabs.org/</a></li>
            <li>Twitter Bootstrap, an HTML, CSS, and JS framework - <a href="http://getbootstrap.com/">http://getbootstrap.com/</a></li>
        </ul>

        <p>The sandbox is good for small apps, prototypes, and proof-of-concepts.</p>
    </div>
{% endblock %}
